Jaime/Tareas/Tarea 2.4/docu4.dtd

<!ELEMENT matricula (personal,pago)>
<!ELEMENT personal (dni,nombre,titulacion,curso_academico,domicilios)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (domicilio)+>
<!ELEMENT tipo_matricula (#PCDATA)>
<!ELEMENT domicilio (nombre)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST domicilio tipo CDATA #REQUIRED>